<!DOCTYPE html>
<html lang="en">
	<head>	
		<link rel="stylesheet" href="session.css.scss">
	</head>
<body>
  <div id="body">
	<div class="row">
    <!-- <div class="large-3 columns"> -->
      <h2>Welcome to Yawning Llama! Travel Security and News at your fingertips!</h2>
  <!--   </div>
    <div class="large-9 columns">
      <ul class="right button-group">
    	<li><a href="#" class="button">Link 1</a></li>
    	<li><a href="#" class="button">Link 2</a></li>
    	<li><a href="#" class="button">Link 3</a></li>
    	<li><a href="#" class="button">Link 4</a></li>
    	</ul>
     </div> -->
   </div>
  
<!-- End Header and Nav -->

<!-- First Band (Slider) -->
 
  <div class="row">
    <div class="large-12 columns">
    <div id="slider">
    	<%= image_tag("machu.jpg") %>
    	<!-- <img src="/images/machu.jpg"/> -->
    </div>
    
    <hr />
    </div>
  </div>

  <!-- Three-up Content Blocks -->
 
	<div class="row">
		<div class="large-4 columns">
      <%= image_tag("Twilio.jpg") %>
      <!-- <img src="http://placehold.it/400x300&text=[img]" /> -->
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="large-4 columns">
    	<%= image_tag("Evernote_icon.jpg") %>
      <!-- <img src="http://placehold.it/400x300&text=[img]" /> -->
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="large-4 columns">
      <%= image_tag("Facebook.jpg") %>
      <!-- <img src="http://placehold.it/400x300&text=[img]" /> -->
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
	
    </div>
    
<!-- Call to Action Panel -->
<div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
 
  <!-- Footer -->
  
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>

<div class="row">
	<div class="large-4 columns">
		<h2>Lost password?</h2>
		<p>
			Lost your password? Simply leave the password field blank and click the Log In button and we'll send you a coded link via email that will let you reset your password.
		</p>
	</div>
	<div class="large-8 columns">
		<h1>Log In</h1>


	<form action="/login" method="POST">
		<div class="large-12 columns">
			<input type="text" id="email" name="email" placeholder="Email address" class="large-4 columns clear">
		</div>
		<div class="large-12 columns">
			<input type="password" id="password" name="password" placeholder="Password" class="large-4 columns">&nbsp;
			<button id ="toggle-password-field" class="small button alert"> Show Password </button>
		</div>
		<div class="large-12 columns">
			<input type="submit" value="Log In" class="small button">
		</div>
	</form>
	</div>
</div>
</div>
</body>
</html>
