<!DOCTYPE html>
<html lang="en">
  <head>  

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    
    <link rel="stylesheet" href="css/bootstrap.css">
     <link rel="stylesheet" href="css/bootstrap.css">

    <script src="/js/custom.modernizr.js"></script>
  </head>


  <!-- 
-->
<body id="body">
  <!-- <div class ="navbar"> -->
    <div class="row">
      <div class="small-2 push-10 columns"><h5>Log in</h5><h5>Sign up</h5></div>
      <div class="small-10 pull-3 columns"><h1>Navv<span>it</span></h1></div> 
     
    </div>

    <div class="container">
     <div><%= image_tag("planeoriginal.png") %></div>
      <!-- <h2></h2>
       -->
    </div>
   
<!-- <div id="login">
  <div>
    <p>Traveling? We can help.</p>
    <p>Sign up to see the latest travel warnings and alerts issued by the State Department</p>
  </div>
</div> -->


    <!-- ends container
    
  
  <!- <footer id="page_footer">
        <p class="copyright">© 2013 All rights reserved Erin and Shana</p>
  </footer> -->

</body>



  
</html>
