 <script type="text/javascript">
  $(function(){

 	var map = L.map('map').setView([51.505, -0.09], 3);
 	
 	L.tileLayer('http://a.tile.cloudmade.com/6bb82f6e0733473698298dc3a8287ee0/7/256/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

 	<% @data_points = DataPoint.all %>
	<% @data_points.each do |dp| %>
  	<% @country_code = dp.alpha_2_code %>
  	<% @country = Country.find_by(alpha_2_code: @country_code)%> 
  	<% @lat = country.latitude_average %>
  	<% @lng = country.longitude_average %>
    L.marker([<%= @lat %>, <%= @lng %>]).addTo(map);
	<% end %>

});

</script>

<div id="map"></div>