// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	font-family: 'Love Ya Like A Sister', cursive;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 30px;
}

#header_bar2 {
	background-image: url(compass_dark_wide.png);
	background-repeat: repeat;
	width: 100%;
	height: 68px;
	
	color: #FFFFFF;
	text-align: center;
	font-family: 'Love Ya Like A Sister', cursive;
}

.small_button {
	border-radius: 5px;
	background-color: rgba(0,0,0,0.3);
	color: #FFFFFF;
	margin: auto;
	padding: 10px;
}

#body {
	background-color: #F5FAFA;
	// background: #000000;
	padding-top: 10px;
}

#orbit_slider {
	// border: 5px solid black;
	width: 100%;
	height: 200px;
	margin: none;
	// position: absolute;
}

.login_panel {
	// background-image: url(world_names.jpg);
	position: relative;
	float: right;
}

h2 {
	color: #000000;
	font-size: 24px;
	text-align: center;
	font-family: 'Love Ya Like A Sister', cursive;
}

#lost_password {
	color: #000000;
	font-size: 16px;
	text-align: center;
	font-family: 'Love Ya Like A Sister', cursive;
}

p {
	color: #000000;
	font-size: 24px;
	font-weight: bold; 
	text-align: center;
	font-family: 'Love Ya Like A Sister', cursive;
}

#email {
	border-radius: 5px;
}

#password {
	border-radius: 5px;	
}

.panel {
	text-align: center;
}



