// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	font-family:'Armata', sans-serif;
	color: black;
	font-weight: 2px ;
	font-size: 50px;
}
header{
	// background-image:url("map.png") ;
	background-color: #606060;
	position: fixed;
	top:0;
	left: 0;
	right: 0;
}
#header_bar2 {
	/*background-image: url(compass_dark_wide.png)*/;
	background-repeat: repeat;
	width: 100%;
	height: 68px;
	
	color: #FFFFFF;
	text-align: center;
	font-family:'Armata', sans-serif;
}

.small_button {
	border-radius: 5px;
	background-color: rgba(0,0,0,0.3);
	color: #FFFFFF;
	margin: auto;
	padding: 10px;
}

#body {
	/*background-color: #F5FAFA;#000000*/
	background: white;
	padding-top: 10px;
	background-image:url("worldmapbackground.png");
}
.it{
	font-family: 'Armata', sans-serif;
	font-size: 45px;
	font-weight: 2px;
}
#orbit_slider {
	// border: 5px solid black;
	width: 100%;
	height: 200px;
	margin: none;
	// position: absolute;
}

.login_panel {
	/*// background-image: url(world_names.jpg);*/
	position: relative;
	// float: right;
	margin:50px auto;
}

h2 {
	color: #000000;
	font-size: 24px;
	text-align: center;
	font-family: 'Armata', sans-serif;
}

#lost_password {
	color: #000000;
	font-size: 16px;
	text-align: center;
	font-family: 'Armata', sans-serif;
}

p {
	color: #000000;
	font-size: 24px;
	font-weight: bold; 
	text-align: center;
	font-family: 'Armata', sans-serif;
}

#email {
	border-radius: 5px;
}

#password {
	border-radius: 5px;	
}

.panel {
	text-align: center;
}



